
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family : Inter ;
    src : url('../Fonts/Inter.ttf') format('truetype-variations') ;
}


.group:hover .Underline {
    text-decoration : underline ;
    text-underline-offset : 0.3rem ;
    text-decoration-thickness : 0.15rem ;
}


.Footer_Badges .Badge:nth-child( 2n + 1 ) {
    justify-self : end ;
}

.Footer_Badges .Badge:nth-child( 2n + 0 ) {
    justify-self : start ;
}


.Title {
    font-variant-caps : small-caps ;
}
